<!-- <section class="hero flex items-center min-h-screen bg-gray-800">
    <div class="container flex flex-col lg:flex-row justify-evenly lg:pl-60 px-4 lg:px-0">
        <img class="rounded-lg max-w-full lg:max-w-[500px] lg:max-h-[500px] mb-6 lg:mb-0 shadow-2xl " [src]="image"
            alt="Ganesh - Full Stack Developer">
        <div class="px-6 text-center lg:text-left">
            <h1 class="text-4xl font-bold text-white">Hi, <span class="text-red-700 hover:text-white">I'm Ganesh</span>
            </h1>
            <h2 class="text-2xl text-gray-300 mt-2 lg:mt-4">Full Stack Developer</h2>
            <p class="text-gray-500 text-lg mt-4">{{animatedText}}</p>
            <a [href]="resumeurl" target="_blank" download="Resume-me.pdf"
                class="btn mt-6 inline-flex items-center px-4 py-2 bg-gray-800 text-white hover:bg-gradient-to-tr from-violet-400 to-violet-600 hover:text-white rounded-full hover:bg-opacity-75 transform transition duration-300 ease-in-out">View
                Resume</a>
        </div>
    </div>
</section> -->




<section class="hero flex items-center min-h-screen bg-gray-800">
    <div class="container flex flex-col lg:flex-row justify-evenly lg:pl-60 px-4 lg:px-0">
        <img class="rounded-lg max-w-full lg:max-w-[500px] lg:max-h-[500px] mb-6 lg:mb-0 shadow-2xl hidden sm:block"
            [src]="image" alt="Ganesh - Full Stack Developer">
        <div class="px-6 text-center lg:text-left">
            <h1 class="text-4xl font-bold text-white">Hi, <span class="text-red-700 hover:text-white">I'm Ganesh</span>
            </h1>
            <h2 class="text-2xl text-gray-300 mt-2 lg:mt-4">Full Stack Developer</h2>
            <p class="text-gray-500 text-lg mt-4">{{animatedText}}</p>
            <a [href]="resumeurl" target="_blank" download="Resume-me.pdf"
                class="btn mt-6 inline-flex items-center px-4 py-2 bg-gray-800 text-white hover:bg-gradient-to-tr from-violet-400 to-violet-600 hover:text-white rounded-full hover:bg-opacity-75 transform transition duration-300 ease-in-out">View
                Resume</a>
        </div>
    </div>
</section>